[Desktop Entry]
Name=Cryon
Exec=/usr/lib/Cryon/Cryon %U
Icon=/usr/share/pixmaps/Cryon.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/cryon;