[Desktop Entry]
Name=Cryon
Exec=/usr/lib/cryon/Cryon %U
Icon=/usr/share/pixmaps/cryon.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/cryon;